.cards{
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 10px;
    margin: 1em auto;
}
.cards >*{
    background-color: #fff;
    width: 45%;
    transition: all 100ms ease;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.cards > *:hover, .cards > *:focus{
    transform: translateY(-0.2em) scale(1.001);
    filter: brightness(80%) ;
}
.cards a:hover{
    text-decoration: underline;
}
.sectiontitle{
    width: 80%;
    margin: auto;
    border-bottom: 2px solid #bbb;
}
@media (min-width: 765px) {
    .cards{
        width: 80%;
    }
    .cards >*{
        width: 18%;
    }
}